language: python
python:
  - "3.9"
install:
  - pip install -r requirements.txt
  - export PYTHONPATH=`pwd`
  - pip install pytest-cov codecov  # install packages from code coverage
script:
  - pytest --cov=src tests # point to the source direcctory
after_success:
    - name: - Codecov # uploads report to codecov.io
    - uses: - codecov/codecov-action@v3.1.0
